.heading{
    color: green;
    text-align: center;
font-size: 50px;
font-style: inherit;
}
 
.para{
    color: blue;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    text-decoration: none;
}

