.box{
    border: 2px solid black;
    display: inline-block;
    margin: 5px;
    height: 100px;
    width: 350;
    padding: 30PX;
    border-radius: 4px;                                                     
}

body{
    height: 200vh;
}

.box3{
    position: fixed;
bottom: 20px;
right: 50px;
}
